    {% extends "base.html" %}
    {% block content %}
      <div id="dashboard-shell">
        {% if db_status != "ready" %}
          {% include "partials/dashboard_empty.html" %}
        {% else %}
          {% include "partials/dashboard_content.html" %}
        {% endif %}
      </div>
    {% endblock %}

    {% block scripts %}
      {{ super() }}
      <script>
        window.SDRWATCH_DASHBOARD_CONFIG = {{ tactical_config|tojson }};
      </script>
      <script src="{{ url_for('static', filename='js/dashboard.js') }}" defer></script>
    {% endblock %}
